{% extends "blog/layout.html" %}

{% block title %}
Create post
{% endblock %}

{% block body %}
    <h1>Create post</h1>
<form action="{% url 'create' %}" method="post">
    {% csrf_token %}
    <div>
        <input type="text" name="title" placeholder="Title" id="create-title" required>
    </div>
    <div>
        <textarea name="content" placeholder="Lorem Ipsum" id="create-content"></textarea>    
    </div>
    <div>
        <input type="text" name="group" placeholder="Group1, Group2, ... (optional)" id="create-group">
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
{% endblock %}